/* h1{
    color: purple;
} Element Selector */ 

/* .one{
    color: purple;
} Class Selector */

/* #one{
    color: purple;
} Id Selector */

/* *{
    color: purple;
} Universal Selector */ 