<p>account-holder works!</p>
Choose Category: <select [(ngModel)] = "categoryInput">
    <option>SavingsACC</option>
    <option>BusinessACC</option>
    <option>SalaryACC</option>
</select>
<table>
    <thead>
        <tr>
            <th>AccountNumber</th>
            <th>ACHolderName</th>
            <th>TypeOfAccount</th>
            <th>Amount</th>
            <th>Dates</th>
        </tr>
    </thead>
    <tbody>
        @for (account of accounts; track account){
            <tr>
                @if (account.TypeOfAccount == categoryInput && account.Amount>20000){
                <td>{{account.AccountNumber}}</td>
               <td>{{account.ACHolderName}}</td>
               <td>{{account.TypeOfAccount}}</td>
               <td>{{account.Amount}}</td>
               <td>{{account.Dates}}</td>
                }
            </tr>
        }
    </tbody>
</table>
